In [2]:
pwd

'/Users/ellismok/Desktop/Challenges/COVID19-ETL-Project/Transform/Cleaning Workbook'

In [3]:
# Import libraries to use to start cleaning the COVID csv
import pandas as pd
import pathlib

### Dateset 1: COVID 19 Hospital by County - Cleaning

In [4]:
# Create a path to data file
covidhospitalbycounty_path = "../../Extract/rawdata/covid19hospitalbycounty.csv"

# Then read the COVID data and its study results
covidhospitalbycounty_df = pd.read_csv(covidhospitalbycounty_path)
covidhospitalbycounty_df

,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
0,Madera,3/29/2020,1.0,6.0,NaN,NaN,1.0,1.0,8.0
1,Calaveras,3/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sonoma,3/29/2020,7.0,20.0,NaN,NaN,2.0,5.0,12.0
3,Tulare,3/29/2020,6.0,13.0,NaN,NaN,5.0,3.0,7.0
4,San Bernardino,3/29/2020,33.0,123.0,NaN,NaN,19.0,20.0,65.0
...,...,...,...,...,...,...,...,...,...
19704,Marin,3/15/2021,15.0,3.0,18.0,319.0,7.0,0.0,9.0
19705,Orange,3/15/2021,216.0,24.0,240.0,5709.0,62.0,5.0,262.0
19706,Santa Clara,3/15/2021,144.0,14.0,158.0,2965.0,44.0,1.0,66.0
19707,Riverside,3/15/2021,188.0,23.0,211.0,3136.0,42.0,5.0,98.0
19708,San Francisco,3/15/2021,45.0,3.0,48.0,2115.0,16.0,0.0,93.0

In [5]:
# Rename the columns for easier reading purposes
covidhospitalbycounty_df.rename(
    columns = {
        'hospitalized_covid_confirmed_patients': 'confirmed_patients'
        ,'hospitalized_suspected_covid_patients':'suspected_patients'
        ,'todays_date':'date'
        ,"icu_suspected_covid_patients" : "icu_covid_suspected"
        ,"icu_covid_confirmed_patients" :"icu_covid_confirmed"}
        ,inplace=True)

covidhospitalbycounty_df.head()

,county,date,confirmed_patients,suspected_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed,icu_covid_suspected,icu_available_beds
0,Madera,3/29/2020,1.0,6.0,NaN,NaN,1.0,1.0,8.0
1,Calaveras,3/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sonoma,3/29/2020,7.0,20.0,NaN,NaN,2.0,5.0,12.0
3,Tulare,3/29/2020,6.0,13.0,NaN,NaN,5.0,3.0,7.0
4,San Bernardino,3/29/2020,33.0,123.0,NaN,NaN,19.0,20.0,65.0

In [6]:
# Finding the total number of hospitalized covid patients
covidhospitalbycounty_df["total_covid_patients"] = covidhospitalbycounty_df["suspected_patients"] + covidhospitalbycounty_df["confirmed_patients"] 
covidhospitalbycounty_df

,county,date,confirmed_patients,suspected_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed,icu_covid_suspected,icu_available_beds,total_covid_patients
0,Madera,3/29/2020,1.0,6.0,NaN,NaN,1.0,1.0,8.0,7.0
1,Calaveras,3/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sonoma,3/29/2020,7.0,20.0,NaN,NaN,2.0,5.0,12.0,27.0
3,Tulare,3/29/2020,6.0,13.0,NaN,NaN,5.0,3.0,7.0,19.0
4,San Bernardino,3/29/2020,33.0,123.0,NaN,NaN,19.0,20.0,65.0,156.0
...,...,...,...,...,...,...,...,...,...,...
19704,Marin,3/15/2021,15.0,3.0,18.0,319.0,7.0,0.0,9.0,18.0
19705,Orange,3/15/2021,216.0,24.0,240.0,5709.0,62.0,5.0,262.0,240.0
19706,Santa Clara,3/15/2021,144.0,14.0,158.0,2965.0,44.0,1.0,66.0,158.0
19707,Riverside,3/15/2021,188.0,23.0,211.0,3136.0,42.0,5.0,98.0,211.0
19708,San Francisco,3/15/2021,45.0,3.0,48.0,2115.0,16.0,0.0,93.0,48.0

In [7]:
#Fill in zero for all NaN using .fillna function
covidhospitalbycounty_df.fillna(0, inplace = True, downcast = 'infer')
covidhospitalbycounty_df

,county,date,confirmed_patients,suspected_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed,icu_covid_suspected,icu_available_beds,total_covid_patients
0,Madera,3/29/2020,1,6,0,0,1,1,8,7
1,Calaveras,3/29/2020,0,0,0,0,0,0,0,0
2,Sonoma,3/29/2020,7,20,0,0,2,5,12,27
3,Tulare,3/29/2020,6,13,0,0,5,3,7,19
4,San Bernardino,3/29/2020,33,123,0,0,19,20,65,156
...,...,...,...,...,...,...,...,...,...,...
19704,Marin,3/15/2021,15,3,18,319,7,0,9,18
19705,Orange,3/15/2021,216,24,240,5709,62,5,262,240
19706,Santa Clara,3/15/2021,144,14,158,2965,44,1,66,158
19707,Riverside,3/15/2021,188,23,211,3136,42,5,98,211
19708,San Francisco,3/15/2021,45,3,48,2115,16,0,93,48

In [8]:
# Delete extraneous columns: "hospitalized_covid_patients" and "icu_covid_confirmed_patients"
covidhospitalbycounty_df =covidhospitalbycounty_df.drop(columns= ["hospitalized_covid_patients"])    
covidhospitalbycounty_df.head()

,county,date,confirmed_patients,suspected_patients,all_hospital_beds,icu_covid_confirmed,icu_covid_suspected,icu_available_beds,total_covid_patients
0,Madera,3/29/2020,1,6,0,1,1,8,7
1,Calaveras,3/29/2020,0,0,0,0,0,0,0
2,Sonoma,3/29/2020,7,20,0,2,5,12,27
3,Tulare,3/29/2020,6,13,0,5,3,7,19
4,San Bernardino,3/29/2020,33,123,0,19,20,65,156

In [9]:
#final df for covidhospitalbycounty data
covidhospitalbycounty_df["date"] = covidhospitalbycounty_df["date"].apply(pd.to_datetime)
covidhospitalbycounty_df

,county,date,confirmed_patients,suspected_patients,all_hospital_beds,icu_covid_confirmed,icu_covid_suspected,icu_available_beds,total_covid_patients
0,Madera,2020-03-29,1,6,0,1,1,8,7
1,Calaveras,2020-03-29,0,0,0,0,0,0,0
2,Sonoma,2020-03-29,7,20,0,2,5,12,27
3,Tulare,2020-03-29,6,13,0,5,3,7,19
4,San Bernardino,2020-03-29,33,123,0,19,20,65,156
...,...,...,...,...,...,...,...,...,...
19704,Marin,2021-03-15,15,3,319,7,0,9,18
19705,Orange,2021-03-15,216,24,5709,62,5,262,240
19706,Santa Clara,2021-03-15,144,14,2965,44,1,66,158
19707,Riverside,2021-03-15,188,23,3136,42,5,98,211
19708,San Francisco,2021-03-15,45,3,2115,16,0,93,48

In [14]:
# This is the final cleaned hospital by county data
covidhospitalbycounty_df.to_csv("../Cleaned_datasets/covidhospitalbycounty_df.csv", index=False)

### Dateset 2: COVID 19 Cases - Cleaning

In [57]:
# Create a path to data file
covid19cases_path = "../../Extract/rawdata/covid19cases_test.csv"

# Then read the COVID data and its study results
covid19cases_df = pd.read_csv(covid19cases_path)
covid19cases_df

,date,area,area_type,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests,cumulative_reported_tests
0,3/16/2021,Alameda,County,1685886.0,0.0,82259.0,0.0,1177.0,NaN,2108264.0,NaN,95660.0,100.0,82259.0,10.0,1177.0,2290.0,1492209.0
1,3/16/2021,Alpine,County,1117.0,0.0,82.0,0.0,0.0,NaN,1842.0,NaN,30.0,0.0,82.0,0.0,0.0,1.0,736.0
2,3/16/2021,Amador,County,38531.0,0.0,3510.0,0.0,44.0,NaN,96792.0,NaN,4015.0,4.0,3510.0,0.0,44.0,35.0,32130.0
3,3/16/2021,Butte,County,217769.0,0.0,11154.0,0.0,184.0,NaN,188353.0,NaN,11740.0,13.0,11154.0,-1.0,184.0,170.0,153145.0
4,3/16/2021,Calaveras,County,44289.0,0.0,1945.0,0.0,49.0,NaN,35204.0,NaN,2188.0,4.0,1945.0,0.0,49.0,27.0,24406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26896,1/1/2020,Tuolumne,County,52351.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
26897,1/1/2020,Unknown,County,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
26898,1/1/2020,Ventura,County,852747.0,1.0,4.0,0.0,0.0,2.0,948.0,0.0,16.0,0.0,0.0,0.0,0.0,NaN,NaN
26899,1/1/2020,Yolo,County,223612.0,0.0,2.0,0.0,1.0,3.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
26900,1/1/2020,Yuba,County,79290.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN

In [58]:
# Rename area to county to be in unison with the other datasets
covid19cases_df.rename(columns = {'area': 'county'},
          inplace=True)
covid19cases_df

,date,county,area_type,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests,cumulative_reported_tests
0,3/16/2021,Alameda,County,1685886.0,0.0,82259.0,0.0,1177.0,NaN,2108264.0,NaN,95660.0,100.0,82259.0,10.0,1177.0,2290.0,1492209.0
1,3/16/2021,Alpine,County,1117.0,0.0,82.0,0.0,0.0,NaN,1842.0,NaN,30.0,0.0,82.0,0.0,0.0,1.0,736.0
2,3/16/2021,Amador,County,38531.0,0.0,3510.0,0.0,44.0,NaN,96792.0,NaN,4015.0,4.0,3510.0,0.0,44.0,35.0,32130.0
3,3/16/2021,Butte,County,217769.0,0.0,11154.0,0.0,184.0,NaN,188353.0,NaN,11740.0,13.0,11154.0,-1.0,184.0,170.0,153145.0
4,3/16/2021,Calaveras,County,44289.0,0.0,1945.0,0.0,49.0,NaN,35204.0,NaN,2188.0,4.0,1945.0,0.0,49.0,27.0,24406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26896,1/1/2020,Tuolumne,County,52351.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
26897,1/1/2020,Unknown,County,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
26898,1/1/2020,Ventura,County,852747.0,1.0,4.0,0.0,0.0,2.0,948.0,0.0,16.0,0.0,0.0,0.0,0.0,NaN,NaN
26899,1/1/2020,Yolo,County,223612.0,0.0,2.0,0.0,1.0,3.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
26900,1/1/2020,Yuba,County,79290.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN

In [63]:
# Remove "Out of state", "County", "California" row using multiple locs with:  df['a'] > 1) & (df['b'] > 0)) 
covid19cases_df = covid19cases_df.loc[(covid19cases_df['county']!= 'Out of state') & (covid19cases_df['county']!= 'California') & ( covid19cases_df['county']!= 'Unknown')]
covid19cases_df

,date,county,area_type,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests,cumulative_reported_tests
0,3/16/2021,Alameda,County,1685886.0,0.0,82259.0,0.0,1177.0,NaN,2108264.0,NaN,95660.0,100.0,82259.0,10.0,1177.0,2290.0,1492209.0
1,3/16/2021,Alpine,County,1117.0,0.0,82.0,0.0,0.0,NaN,1842.0,NaN,30.0,0.0,82.0,0.0,0.0,1.0,736.0
2,3/16/2021,Amador,County,38531.0,0.0,3510.0,0.0,44.0,NaN,96792.0,NaN,4015.0,4.0,3510.0,0.0,44.0,35.0,32130.0
3,3/16/2021,Butte,County,217769.0,0.0,11154.0,0.0,184.0,NaN,188353.0,NaN,11740.0,13.0,11154.0,-1.0,184.0,170.0,153145.0
4,3/16/2021,Calaveras,County,44289.0,0.0,1945.0,0.0,49.0,NaN,35204.0,NaN,2188.0,4.0,1945.0,0.0,49.0,27.0,24406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26895,1/1/2020,Tulare,County,484423.0,0.0,0.0,0.0,0.0,6.0,5614.0,0.0,805.0,0.0,0.0,0.0,0.0,NaN,NaN
26896,1/1/2020,Tuolumne,County,52351.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
26898,1/1/2020,Ventura,County,852747.0,1.0,4.0,0.0,0.0,2.0,948.0,0.0,16.0,0.0,0.0,0.0,0.0,NaN,NaN
26899,1/1/2020,Yolo,County,223612.0,0.0,2.0,0.0,1.0,3.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
26900,1/1/2020,Yuba,County,79290.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN

In [64]:
# Delete extraneous columns 
covid19cases_df =covid19cases_df.drop(columns= ["area_type", "cumulative_cases", "cumulative_deaths", "cumulative_total_tests", "cumulative_positive_tests", "cumulative_reported_cases", "cumulative_reported_deaths", "cumulative_reported_tests"])    
covid19cases_df.head()

,date,county,population,cases,deaths,total_tests,positive_tests,reported_cases,reported_deaths,reported_tests
0,3/16/2021,Alameda,1685886.0,0.0,0.0,NaN,NaN,100.0,10.0,2290.0
1,3/16/2021,Alpine,1117.0,0.0,0.0,NaN,NaN,0.0,0.0,1.0
2,3/16/2021,Amador,38531.0,0.0,0.0,NaN,NaN,4.0,0.0,35.0
3,3/16/2021,Butte,217769.0,0.0,0.0,NaN,NaN,13.0,-1.0,170.0
4,3/16/2021,Calaveras,44289.0,0.0,0.0,NaN,NaN,4.0,0.0,27.0

In [65]:
covid19cases_df.fillna(0, inplace = True, downcast = 'infer')
covid19cases_df

,date,county,population,cases,deaths,total_tests,positive_tests,reported_cases,reported_deaths,reported_tests
0,3/16/2021,Alameda,1685886,0,0,0,0,100,10,2290
1,3/16/2021,Alpine,1117,0,0,0,0,0,0,1
2,3/16/2021,Amador,38531,0,0,0,0,4,0,35
3,3/16/2021,Butte,217769,0,0,0,0,13,-1,170
4,3/16/2021,Calaveras,44289,0,0,0,0,4,0,27
...,...,...,...,...,...,...,...,...,...,...
26895,1/1/2020,Tulare,484423,0,0,6,0,0,0,0
26896,1/1/2020,Tuolumne,52351,0,0,0,0,0,0,0
26898,1/1/2020,Ventura,852747,1,0,2,0,0,0,0
26899,1/1/2020,Yolo,223612,0,0,3,0,0,0,0
26900,1/1/2020,Yuba,79290,0,0,0,0,0,0,0

In [66]:
# Final Dataframe for COVID 19 cases change the format of the data
covid19cases_df["date"] = covid19cases_df["date"].apply(pd.to_datetime)
covid19cases_df

,date,county,population,cases,deaths,total_tests,positive_tests,reported_cases,reported_deaths,reported_tests
0,2021-03-16,Alameda,1685886,0,0,0,0,100,10,2290
1,2021-03-16,Alpine,1117,0,0,0,0,0,0,1
2,2021-03-16,Amador,38531,0,0,0,0,4,0,35
3,2021-03-16,Butte,217769,0,0,0,0,13,-1,170
4,2021-03-16,Calaveras,44289,0,0,0,0,4,0,27
...,...,...,...,...,...,...,...,...,...,...
26895,2020-01-01,Tulare,484423,0,0,6,0,0,0,0
26896,2020-01-01,Tuolumne,52351,0,0,0,0,0,0,0
26898,2020-01-01,Ventura,852747,1,0,2,0,0,0,0
26899,2020-01-01,Yolo,223612,0,0,3,0,0,0,0
26900,2020-01-01,Yuba,79290,0,0,0,0,0,0,0

In [67]:
# This is the final COVID19 test cases data. Remove index. 
covid19cases_df.to_csv("../Cleaned_datasets/covid19cases_df.csv", index=False)

### Dateset 3: COVID 19 Vaccines - Cleaning

In [101]:
# Set path and read a for file
vaccines_path = "../../Extract/rawdata/covid19vaccinesbycounty .csv"
vaccines_df = pd.read_csv(vaccines_path)
vaccines_df

          county administered_date  total_doses california_flag
0     Stanislaus         3/16/2021            2      California
1        Alameda         3/15/2021         6028      California
2         Alpine         3/15/2021           19      California
3         Amador         3/15/2021           15      California
4          Butte         3/15/2021          881      California
...          ...               ...          ...             ...
5207  Stanislaus        12/15/2020            2      California
5208      Sutter        12/15/2020            1      California
5209      Tehama        12/15/2020            1      California
5210     Ventura        12/15/2020            5      California
5211        Yolo        12/15/2020           39      California

[5212 rows x 4 columns]

In [102]:
# Rename columns by county_name to county and administered_date to date
vaccines_df.rename(columns = {'administered_date':'date'}, 
          inplace=True)

vaccines_df.head()

       county       date  total_doses california_flag
0  Stanislaus  3/16/2021            2      California
1     Alameda  3/15/2021         6028      California
2      Alpine  3/15/2021           19      California
3      Amador  3/15/2021           15      California
4       Butte  3/15/2021          881      California

In [103]:
# See unique names for county
vaccines_df['county'].unique()

array(['Stanislaus', 'Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras',
       'Colusa', 'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno',
       'Glenn', 'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake',
       'Lassen', 'Los Angeles', 'Madera', 'Marin', 'Mariposa',
       'Mendocino', 'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa',
       'Nevada', 'Orange', 'Outside California', 'Placer', 'Plumas',
       'Riverside', 'Sacramento', 'San Benito', 'San Bernardino',
       'San Diego', 'San Francisco', 'San Joaquin', 'San Luis Obispo',
       'San Mateo', 'Santa Barbara', 'Santa Clara', 'Santa Cruz',
       'Shasta', 'Siskiyou', 'Solano', 'Sonoma', 'Sutter', 'Tehama',
       'Trinity', 'Tulare', 'Tuolumne', 'Ventura', 'Yolo', 'Yuba',
       'Unknown', 'Sierra', 'Oxford', 'Skagit', 'Cottonwood', 'Tarrant',
       'Windham', 'Clallam', 'Snohomish', 'Morgan', 'Hamilton', 'La Paz',
       'Walla Walla', 'Bennington', 'Jackson', 'Carson City', 'Hawaii',
       'Linn', 'Lewis', 'Meeker', 'Kenai Peninsula Borough', 'Kitsap',
       'Maricopa', 'Yavapai', 'Clark'], dtype=object)

In [104]:
# Remove the following list:
    #('California', 'Outside California', 'Unknown','Oxford', 'Skagit', 'Cottonwood', 'Tarrant','Windham', 'Clallam', 'Snohomish', 'Morgan', 'Hamilton', 'La Paz'
    # , 'Walla Walla', 'Bennington', 'Jackson', 'Carson City', 'Hawaii','Linn', 'Lewis', 'Meeker', 'Kenai Peninsula Borough', 'Kitsap','Maricopa', 'Yavapai', 'Clark')
vaccines_df.loc[
    (vaccines_df['county']!= 'California') 
    & (vaccines_df['county']!= 'Outside California') 
    & (vaccines_df['county']!= 'Unknown')
    & (vaccines_df['county']!= 'Oxford')
    & (vaccines_df['county']!= 'Skagit') 
    & (vaccines_df['county']!= 'Cottonwood')
    & (vaccines_df['county']!= 'Tarrant')
    & (vaccines_df['county']!= 'Windham')
    & (vaccines_df['county']!= 'Clallam')
    & (vaccines_df['county']!= 'Snohomish')
    & (vaccines_df['county']!= 'Morgan')
    & (vaccines_df['county']!= 'Hamilton')
    & (vaccines_df['county']!= 'La Paz')
    & (vaccines_df['county']!= 'Walla Walla')
    & (vaccines_df['county']!= 'Bennington')
    & (vaccines_df['county']!= 'Jackson')
    & (vaccines_df['county']!= 'Carson City')
    & (vaccines_df['county']!= 'Hawaii')
    & (vaccines_df['county']!= 'Linn')
    & (vaccines_df['county']!= 'Lewis')
    & (vaccines_df['county']!= 'Meeker')
    & (vaccines_df['county']!= 'Kenai Peninsula Borough')
    & (vaccines_df['county']!= 'Kitsap')
    & (vaccines_df['county']!= 'Maricopa')
    & (vaccines_df['county']!= 'Yavapai')
    & (vaccines_df['county']!= 'Clark')
]
vaccines_df

          county        date  total_doses california_flag
0     Stanislaus   3/16/2021            2      California
1        Alameda   3/15/2021         6028      California
2         Alpine   3/15/2021           19      California
3         Amador   3/15/2021           15      California
4          Butte   3/15/2021          881      California
...          ...         ...          ...             ...
5207  Stanislaus  12/15/2020            2      California
5208      Sutter  12/15/2020            1      California
5209      Tehama  12/15/2020            1      California
5210     Ventura  12/15/2020            5      California
5211        Yolo  12/15/2020           39      California

[5212 rows x 4 columns]

In [105]:
# Drop "calfifornia_flag because this dataset only looks at calforinia 
vaccines = vaccines_df.drop(columns= ["california_flag"])
vaccines

          county        date  total_doses
0     Stanislaus   3/16/2021            2
1        Alameda   3/15/2021         6028
2         Alpine   3/15/2021           19
3         Amador   3/15/2021           15
4          Butte   3/15/2021          881
...          ...         ...          ...
5207  Stanislaus  12/15/2020            2
5208      Sutter  12/15/2020            1
5209      Tehama  12/15/2020            1
5210     Ventura  12/15/2020            5
5211        Yolo  12/15/2020           39

[5212 rows x 3 columns]

In [106]:
# Fill 0 for NaN
vaccines.fillna(0, inplace = True, downcast = 'infer')
vaccines

          county        date  total_doses
0     Stanislaus   3/16/2021            2
1        Alameda   3/15/2021         6028
2         Alpine   3/15/2021           19
3         Amador   3/15/2021           15
4          Butte   3/15/2021          881
...          ...         ...          ...
5207  Stanislaus  12/15/2020            2
5208      Sutter  12/15/2020            1
5209      Tehama  12/15/2020            1
5210     Ventura  12/15/2020            5
5211        Yolo  12/15/2020           39

[5212 rows x 3 columns]

In [107]:
# Final dataset for vaccines with changing the format of the date
vaccines["date"] = vaccines["date"].apply(pd.to_datetime)
vaccines

          county       date  total_doses
0     Stanislaus 2021-03-16            2
1        Alameda 2021-03-15         6028
2         Alpine 2021-03-15           19
3         Amador 2021-03-15           15
4          Butte 2021-03-15          881
...          ...        ...          ...
5207  Stanislaus 2020-12-15            2
5208      Sutter 2020-12-15            1
5209      Tehama 2020-12-15            1
5210     Ventura 2020-12-15            5
5211        Yolo 2020-12-15           39

[5212 rows x 3 columns]

In [108]:
# This is the final vaccine data that will be used in SQL
vaccines.to_csv("../Cleaned_datasets/vaccines.csv", index=False)

### Creating individual dataframes for SQL

In [109]:
# Final DF vaccines is small so not need for normalization.
vaccines.to_csv("../../Load/Normalized Datasets/vaccines.csv", index=False)

In [110]:
# Final DF for Hospitalized_COVID_patients: county, date, confirmed_patients, suspected_patients, total_covid_patients
Hospitalized_COVID_patients= covidhospitalbycounty_df[["date","confirmed_patients", "suspected_patients", "total_covid_patients"]]
Hospitalized_COVID_patients

            date  confirmed_patients  suspected_patients  total_covid_patients
0     2020-03-29                   1                   6                     7
1     2020-03-29                   0                   0                     0
2     2020-03-29                   7                  20                    27
3     2020-03-29                   6                  13                    19
4     2020-03-29                  33                 123                   156
...          ...                 ...                 ...                   ...
19704 2021-03-15                  15                   3                    18
19705 2021-03-15                 216                  24                   240
19706 2021-03-15                 144                  14                   158
19707 2021-03-15                 188                  23                   211
19708 2021-03-15                  45                   3                    48

[19709 rows x 4 columns]

In [111]:
# Final DF for Hospital_beds: county, date,all_hospital_beds,icu_available_beds
Hospital_beds= covidhospitalbycounty_df[["county","date","all_hospital_beds","icu_available_beds"]]
Hospital_beds

               county       date  all_hospital_beds  icu_available_beds
0              Madera 2020-03-29                  0                   8
1           Calaveras 2020-03-29                  0                   0
2              Sonoma 2020-03-29                  0                  12
3              Tulare 2020-03-29                  0                   7
4      San Bernardino 2020-03-29                  0                  65
...               ...        ...                ...                 ...
19704           Marin 2021-03-15                319                   9
19705          Orange 2021-03-15               5709                 262
19706     Santa Clara 2021-03-15               2965                  66
19707       Riverside 2021-03-15               3136                  98
19708   San Francisco 2021-03-15               2115                  93

[19709 rows x 4 columns]

In [112]:
#Final DF for ICU_COVID_patients: county, date, icu_covid_confirmed, icu_covid_suspected
ICU_COVID_patients= covidhospitalbycounty_df[["county","date","icu_covid_confirmed","icu_covid_suspected"]]
ICU_COVID_patients

               county       date  icu_covid_confirmed  icu_covid_suspected
0              Madera 2020-03-29                    1                    1
1           Calaveras 2020-03-29                    0                    0
2              Sonoma 2020-03-29                    2                    5
3              Tulare 2020-03-29                    5                    3
4      San Bernardino 2020-03-29                   19                   20
...               ...        ...                  ...                  ...
19704           Marin 2021-03-15                    7                    0
19705          Orange 2021-03-15                   62                    5
19706     Santa Clara 2021-03-15                   44                    1
19707       Riverside 2021-03-15                   42                    5
19708   San Francisco 2021-03-15                   16                    0

[19709 rows x 4 columns]

In [113]:
# Final DF for Total_tests: county, date, total_tests, cumulative_total_tests, positive_tests, cumulative_positive_tests, reported_tests, cumulative_reported_tests
Total_tests= covid19cases_df[["county","date","total_tests","positive_tests","reported_tests"]]
Total_tests

          county       date  total_tests  positive_tests  reported_tests
0        Alameda 2021-03-16            0               0            2290
1         Alpine 2021-03-16            0               0               1
2         Amador 2021-03-16            0               0              35
3          Butte 2021-03-16            0               0             170
4      Calaveras 2021-03-16            0               0              27
...          ...        ...          ...             ...             ...
26895     Tulare 2020-01-01            6               0               0
26896   Tuolumne 2020-01-01            0               0               0
26898    Ventura 2020-01-01            2               0               0
26899       Yolo 2020-01-01            3               0               0
26900       Yuba 2020-01-01            0               0               0

[25578 rows x 5 columns]

In [114]:
# Final DF for Deaths: county, date, deaths, cumulative_deaths, reported_deaths, cumulative_reported_deaths
Deaths= covid19cases_df[["county","date","deaths", "reported_deaths",]]
Deaths

          county       date  deaths  reported_deaths
0        Alameda 2021-03-16       0               10
1         Alpine 2021-03-16       0                0
2         Amador 2021-03-16       0                0
3          Butte 2021-03-16       0               -1
4      Calaveras 2021-03-16       0                0
...          ...        ...     ...              ...
26895     Tulare 2020-01-01       0                0
26896   Tuolumne 2020-01-01       0                0
26898    Ventura 2020-01-01       0                0
26899       Yolo 2020-01-01       0                0
26900       Yuba 2020-01-01       0                0

[25578 rows x 4 columns]

In [115]:
# Final DF for Cases: county, date, cases, cumulative_cases, reported_cases, cumulative_reported_cases
Cases = covid19cases_df[["county", "date", "cases", "reported_cases"]]
Cases

          county       date  cases  reported_cases
0        Alameda 2021-03-16      0             100
1         Alpine 2021-03-16      0               0
2         Amador 2021-03-16      0               4
3          Butte 2021-03-16      0              13
4      Calaveras 2021-03-16      0               4
...          ...        ...    ...             ...
26895     Tulare 2020-01-01      0               0
26896   Tuolumne 2020-01-01      0               0
26898    Ventura 2020-01-01      1               0
26899       Yolo 2020-01-01      0               0
26900       Yuba 2020-01-01      0               0

[25578 rows x 4 columns]

In [116]:
# Final DF for Counties: county, date, population
Counties = covid19cases_df[["county", "date", "population"]]
Counties

          county       date  population
0        Alameda 2021-03-16     1685886
1         Alpine 2021-03-16        1117
2         Amador 2021-03-16       38531
3          Butte 2021-03-16      217769
4      Calaveras 2021-03-16       44289
...          ...        ...         ...
26895     Tulare 2020-01-01      484423
26896   Tuolumne 2020-01-01       52351
26898    Ventura 2020-01-01      852747
26899       Yolo 2020-01-01      223612
26900       Yuba 2020-01-01       79290

[25578 rows x 3 columns]

In [118]:
# This is the final vaccine data that will be used in SQL
Hospitalized_COVID_patients.to_csv("../../Load/Normalized Datasets//Hospitalized_COVID_patients.csv", index=False)

In [119]:
# This is the final hospital by county data
Hospital_beds.to_csv("../../Load/Normalized Datasets/Hospital_beds.csv", index=False)

In [120]:
# This is the final COVID19 test cases data
ICU_COVID_patients.to_csv("../../Load/Normalized Datasets/ICU_COVID_patients.csv", index=False)

In [121]:
# This is the final Total tests test cases data
Total_tests.to_csv("../../Load/Normalized Datasets/Total_tests.csv", index=False)

In [122]:
# This is the final counties test cases data
Counties.to_csv("../../Load/Normalized Datasets/Counties.csv", index=False)

In [123]:
# This is the final Deaths test cases data
Deaths.to_csv("../../Load/Normalized Datasets/Deaths.csv", index=False)

In [124]:
# This is the final cases test cases data
Cases.to_csv("../../Load/Normalized Datasets/Cases.csv", index=False)

In [125]:
pwd

'/Users/ellismok/Desktop/Challenges/COVID19-ETL-Project/Transform/Cleaning Workbook'